<%= link_to 'All shelves', root_path %>

<%= link_to 'Edit shelf', edit_shelf_path(@shelf) %>

<%= link_to "Delete shelf",
            shelf_path(@shelf),
            method: :delete,
            data: {confirm: "Are you sure?"} %>

<h2><%= @shelf.name %></h2>
<p><%= @shelf.description %></p>

<%= link_to 'Create space', new_space_path(shelf_id: @shelf.id) %>

<ul>
  <% @shelf.spaces.each do |space| %>
    <li><%= link_to space.name, space_path(space) %></li>
  <% end %>
</ul>
