<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "shelf", root_path, class: "logo" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
     <% if user_signed_in? %>
          <%= link_to "t", destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to "Log in", new_user_session_path %>
      <% end %>
      <br>
    </div>

    <div class="new-url-ctn">
      <p class="option prompt" > Copy and paste the URL 🌐 for this new object </p>
      <%= simple_form_for (@item) do |f| %>
        <%= f.text_field :url, autofocus: true, onpaste: 'setTimeout(function(){ form.submit(); }, 0.1);', onblur: 'this.focus()', class: 'txt-inpt' %>
        <%= f.hidden_field :shelf_id, :value => @shelf.id %>
        <%= f.submit "Add item", style: "display: none;" %>
      <% end %>
    </div>

    <div class="options" id="add-btn">
      <%= image_tag "Plus.png", alt: "Plus", width: 33 %>
    </div>

  </div>
</div>
<!-- END OF NAVBAR -->

  <div class="indicator add" id="add-action" style="display:none;">Add</div>

<!-- OPTIONS -->
    <div class="options-ctn options-ctn-shelf-space" id="add-options" style="display:none;">
      <div>
      <% if policy(Item).create? %>
        <%= link_to '📚 New object', new_item_path(shelf_id: params[:id]), class: "option add-option" %>
      <% end %>
      </div>
      <div>
      <% if policy(Space).create? %>
        <%= link_to '🗄 New space', new_space_path(shelf_id: params[:id]), class: "option add-option" %>
      <% end %>
      </div>
    </div>
<!-- END OF OPTIONS -->



<!-- IF SHELF IS EMPTY -->
<% if @shelf.spaces.empty? && @shelf.items.empty? %>
  <div class="center"><p class="msg">Your shelf is empty.</p></div>
<% end %>


<!-- IF SHELF HAS OBJECTS -->
<div class="grid-container">

<% @shelf.spaces.each do |space| %>
      <% if policy(space).show? %>
        <div class="object">
          <%= link_to image_tag("space.png", width: 85), space_path(space, shelf_id: @shelf.id) %>
          <%= link_to truncate(space.name.capitalize, length: 45), space_path(space, shelf_id: @shelf.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>

  <% @shelf.items.order(:rank, :status, created_at: :desc).each do |item| %>
      <% if policy(item).show? %>
        <div class="object">
          <% if item.medium == "book" %>
            <%= link_to image_tag("book.png", width: 80), item_path(item, shelf_id: @shelf.id) %>
          <% elsif item.medium == "podcast" %>
            <%= link_to image_tag("podcast.png", width: 80), item_path(item, shelf_id: @shelf.id) %>
          <% elsif item.medium == "video" %>
            <%= link_to image_tag("video.png", width: 80), item_path(item, shelf_id: @shelf.id) %>
          <% else item.medium == "web" %>
            <%= link_to image_tag("web.png", width: 80), item_path(item, shelf_id: @shelf.id) %>
          <% end %>
          <%= link_to truncate(item.name.capitalize, length: 45), item_path(item, shelf_id: @shelf.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>
</ul>

</div>
