<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "shelf", root_path, class: "logo" %>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">


   <div class="btns" style="display:none;">
      <% if policy(Space).create? %>
        <%= link_to 'Add a space', new_space_path(shelf_id: params[:id]), class: "add-btn" %>
      <% end %>

      <% if policy(Item).create? %>
        <%= link_to 'Add an object', items_path(shelf_id: params[:id]), method: :post, class: "add-btn" %>
      <% end %>

<!--     <% if user_signed_in? %>
        <%= link_to "t", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %>   -->
      <br>
    </div>

  <i class="fas fa-plus fa-lg" id="plus"></i>
  </div>
</div>
<!-- END OF NAVBAR -->




<!-- IF SHELF IS EMPTY -->
<% if @shelf.spaces.empty? && @shelf.items.empty? %>
  <div class="center"><p class="msg">Your shelf is empty.</p></div>
<% end %>






<!-- IF SHELF HAS OBJECTS -->
<div class="grid-container">

<% @shelf.spaces.each do |space| %>
      <% if policy(space).show? %>
        <div class="object">
          <%= image_tag "space.png", width: 95, class: "object_image" %>
          <%= link_to space.name, space_path(space, shelf_id: @shelf.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>

  <% @shelf.items.order(created_at: :desc).each do |item| %>
      <% if policy(item).show? %>
        <div class="object">
          <% if item.medium == "book" %>
            <%= image_tag "book.png", width: 80, class: "object_image" %>
          <% elsif item.medium == "podcast" %>
            <%= image_tag "podcast.png", width: 80, class: "object_image" %>
          <% elsif item.medium == "video" %>
            <%= image_tag "video.png", width: 80, class: "object_image" %>
          <% elsif item.medium == "web" %>
            <%= image_tag "web.png", width: 80, class: "object_image" %>
          <% end %>

          <%= link_to truncate(item.name, length: 20), item_path(item, shelf_id: @shelf.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>
</ul>

</div>
