
<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "shelf", root_path, class: "logo" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if @shelf %>
      <%= link_to image_tag("Plus.png", width: 45).html_safe, shelf_path(@shelf), class: 'rotated' %>
    <% elsif @space %>
      <%= link_to image_tag("Plus.png", width: 45).html_safe, space_path(@parent), class: 'rotated' %>
    <% end %>
  </div>
</div>
<!-- END OF NAVBAR -->

<h1 class="question">What is the name of this new 🗄 ? </h1>

<% if @shelf %>
  <%= simple_form_for @space, html: { autocomplete: 'off' } do |f| %>
    <%= f.input :name, autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp-txt" } %>
    <%= f.hidden_field :shelf_id, :value => @shelf.id %>
    <div class='buttonHolder' > <%= f.submit "Add space to shelf", class: "add-btn" %> </div>
  <% end %>
<% elsif @child %>
  <%= simple_form_for @child, html: { autocomplete: 'off' } do |f| %>
    <%= f.input :name , autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp-txt" } %>
    <%= f.hidden_field :parent_id, :value => @parent.id %>
    <div class='buttonHolder' > <%= f.submit "Add space to shelf", class: "add-btn" %> </div>
  <% end %>
<% end %>


<!-- Understanding the raw HTML created by simple_form
<form class="simple_form new_restaurant" id="new_restaurant" novalidate="novalidate" action="/restaurants" accept-charset="UTF-8" method="post">
  <input type="hidden" name="authenticity_token" value="6mcCvU7ZazpIBcJTptw/8y4EucmzccFWli7tFUzX6IJEx8wq6PFC7m4rA1Jy+W4YW1hlhYhSOyhZefWtOM5ofQ==">
  <div class="form-group string optional restaurant_name">
    <label class="string optional" for="restaurant_name">Name</label>
    <input class="form-control string optional" type="text" name="restaurant[name]" id="restaurant_name">
  </div>
  <input type="submit" name="commit" value="Create Restaurant" data-disable-with="Create Restaurant">
</form>
 -->

