<%= link_to 'Back to shelf', shelf_path(@space.shelves.first) %>
<!-- Fonctionne uniquement si un space a une unique shelve. Sinon, il faudrait prendre en compte user_i? -->

<%= link_to 'Edit space', edit_space_path(@space) %>

<%= link_to "Delete space",
            space_path(@space),
            method: :delete,
            data: {confirm: "Are you sure?"} %>

<h2><%= @space.name %></h2>

<%= link_to 'Create space', new_space_path(parent_id: @space.id) %>

<ul>
  <% @space.connections.first.space.children each do |space| %>
    <li><%= link_to space.name, space_path(space) %></li>
  <% end %>
</ul>
