<% if @space.connections.empty? %>
  <%= link_to 'Back to shelf', shelf_path(@space.shelves.first) %> <!-- Fonctionne uniquement si un space a une unique shelve. Sinon, il faudrait prendre en compte user_i? -->
<% else %>
  <% if @space.connections.first.root? %>
    <%= link_to 'Back to shelf', shelf_path(@space.shelves.first) %> <!-- Not DRY! Refacto -->
  <% else %>
    <%= link_to 'Back to space', space_path(@space.connections.first.parent.space) %> <!-- Valide ssi un space a une ocurrence dans la table -->
  <% end %>
<% end %>

<%= link_to 'Edit space', edit_space_path(@space) %>

<%= link_to "Delete space",
            space_path(@space),
            method: :delete,
            data: {confirm: "Are you sure?"} %>

<h2><%= @space.name %></h2>
<p><%= @space.description %></p>

<%= link_to 'Create space', new_space_path(parent_id: @space.id) %>

<% if @space.children.empty? == false %>
<ul>
  <% @space.connections.first.space.children.each do |connection| %>
    <li><%= link_to connection.space.name, space_path(connection.space) %></li>
  <% end %>
</ul>
<% end %>
