<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "shelf", root_path, class: "logo" %>

   <div class="collapse navbar-collapse" id="navbarSupportedContent"> </div>

  <% if @space.shelves.empty? == false %>
    <h1 class="space-title"> <%= @space.name.split.map(&:capitalize).join(' ') %> </h1>
  <% elsif @parent %>
    <h1 class="space-title"> <%= link_to @parent.name.split.map(&:capitalize).join(' '), space_path(@parent) %> / <%= @space.name.capitalize %> </h1>
  <% end %>

<!--   <% if user_signed_in? %>
        <%= link_to "t", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %> -->

    <div class="buttons-ctn-show">
      <div>
        <div class="options" id="options-btn"> <!-- ajouter class="options" id="options-btn" -->
          <%= image_tag "options.png", alt: "Options", width: 45 %>
        </div>
      </div>
      <div class="options" id="add-btn">
        <%= image_tag "Plus.png", alt: "Plus", width: 45 %>
      </div>
    </div>

  </div>
</div>
<!-- END OF NAVBAR -->

<!-- INDICATORS -->
  <div class="indicator options-show" id="actions" style="display:none;">Actions</div>
  <div class="indicator add" id="add-action" style="display:none;">Add</div>
<!-- END OF INDICATORS -->

<!-- OPTIONS SPACE -->
    <div class="options-ctn options-ctn-shelf-space" id="options" style="display:none;">
      <div>
        <%= image_tag "Arrow - Right.png", alt: "Move", width: 19 %>
        <a class="option" id="move-to">Move space</a>
      </div>
      <div>
    <% if policy(@space).destroy? %>
      <% if @space.shelves.empty? == false %>
        <%= link_to image_tag("Delete.png", width: 19), space_path(@space, shelf_id: @space.shelves.first.id), method: :delete %>
        <%= link_to 'Delete space', space_path(@space, shelf_id: @space.shelves.first.id), method: :delete, class: "option" %>
      <% elsif @space.connections.first.parent.space.present? == true %>
        <%= link_to image_tag("Delete.png", width: 19), space_path(@space, parent_id: @space.connections.first.parent.space.id), method: :delete %>
        <%= link_to 'Delete space', space_path(@space, parent_id: @space.connections.first.parent.space.id), method: :delete, class: "option" %>
    <% end %>
  <% end %>
      </div>
<!--       <div>
      <%= image_tag "Edit.png", alt: "Edit", width: 19 %>
      <a class="option">Edit space</a>
      </div> -->
    </div>
<!-- END OF OPTIONS SPACE -->


<!-- MOVING A SPACE TO A SPACE OR SHELF-->
<div class="options-ctn" id="move-to-list" style="display:none;">
  <ul>
    <% if @space.shelves.empty? %>
      <li>
        <%= link_to "🗄 Shelf", { controller: "spaces", action: "move_space_to_shelf", current_space_id: @space.id }, {class: "option"} %>
      </li>
    <% end %>
    <% move_to_space_list.each do |space| %>
      <% if (space != @space) && (space != @parent) %>
        <li>
          <%= link_to "🗄 #{space.name.capitalize}", { controller: "spaces", action: "move_space_to_space", current_space_id: @space.id, destination_space_id: space.id }, {class: "option"} %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
<!-- END OF MOVING A SPACE TO A SPACE OR SHELF -->

<!-- ADD OPTIONS -->
    <div class="options-ctn options-ctn-shelf-space" id="add-options" style="display:none;">
      <div class="option add-option" id="new-object">
      <% if policy(Item).create? %>
        <a>📚 New object</a>
      <% end %>
      </div>
      <div class="option add-option" id="new-space">
      <% if policy(Space).create? %>
        <a>🗄 New space</a>
      <% end %>
      </div>
    </div>
<!-- END OF ADD OPTIONS -->

<!-- ADD URL BOX -->
    <div class="options-ctn options-ctn-shelf-space" id="add-url" style="display:none;">
      <p class="option prompt" id="add-url-prompt"> Copy and paste the URL 🌐 for this new object </p>
      <%= form_for @item, remote: true do |f| %>
        <%= f.text_field :url, class: 'txt-inpt' %> <!-- autofocus: true, onblur: 'this.focus()' -->
        <%= f.hidden_field :space_id, :value => @space.id %> <!-- for controller -->
        <%= f.hidden_field :parent_id, :value => @space.id %> <!-- for pundit -->
        <%= f.submit "Add item", style: "display: none;" %>
      <% end %>
    </div>
<!-- END OF ADD URL BOX -->

<!-- ADD SPACE NAME BOX -->
    <div class="options-ctn options-ctn-shelf-space" id="add-space" style="display:none;">
      <p class="option prompt" id="add-space-prompt" > What is the name of this new space? 🗄 </p>
      <%= simple_form_for @child, html: { autocomplete: 'off' } do |f| %>
        <%= f.text_field :name, class: 'txt-inpt' %> <!-- autofocus: true, onblur: 'this.focus()' --> <!-- onpaste: 'setTimeout(function(){ form.submit(); }, 0.1); -->
        <%= f.hidden_field :parent_id, :value => @space.id %> <!-- for pundit -->
        <%= f.submit "Add space", style: "display: none;" %>
      <% end %>
    </div>
<!-- END OF ADD SPACE NAME BOX -->

<!-- IF SPACE IS EMPTY -->
<% if @space.children.empty? && @space.items.empty? %>
  <div class="center"><p class="msg">This space is empty.</p></div>
<% end %>

<div class="grid-container">

  <% if @space.children.empty? == false %>
    <% @space.connections.first.space.children.each do |connection| %>
      <div class="object">
        <%= link_to image_tag("space.png", width: 100), space_path(connection.space) %>
        <%= link_to truncate(connection.space.name.split.map(&:capitalize).join(' '), length: 45), space_path(connection.space),  class: "object_name" %>
      </div>
    <% end %>
  <% end %>

  <% @space.items.order(:rank, :status, created_at: :desc).each do |item| %>
      <% if policy(item).show? %>
        <div class="object">
          <% if item.medium == "book" %>
            <%= link_to image_tag("book.png", width: 100), item_path(item, space_id: @space.id) %>
          <% elsif item.medium == "podcast" %>
            <%= link_to image_tag("podcast.png", width: 100), item_path(item, space_id: @space.id) %>
          <% elsif item.medium == "video" %>
            <%= link_to image_tag("video.png", width: 100), item_path(item, space_id: @space.id) %>
          <% else item.medium == "web" %>
            <%= link_to image_tag("web.png", width: 100), item_path(item, space_id: @space.id) %>
          <% end %>
          <%= link_to truncate(item.name.split.map(&:capitalize).join(' '), length: 45), item_path(item, space_id: @space.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>
</div>



