<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

  <%= link_to "shelf", root_path, class: "logo" %>

  <% if params[:shelf_id] %>
    <h1 class="space-title"> <%= @space.name %> </h1>
  <% elsif @space.connections.first.parent_id %>
    <%= link_to space_path(Space.find(Connection.find(@space.connections.first.parent_id).space_id)), class: "space-title" do %>
     <%= Space.find(Connection.find(@space.connections.first.parent_id).space_id).name %> / <%= @space.name %>
    <% end %>
  <% end %>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">


   <div class="btns" style="display:none;">

      <% if policy(Space).create? %>
        <%= link_to 'Add a space', new_space_path(parent_id: @space.id), class: "add-btn" %>
      <% end %>

      <% if policy(Item).create? %>
        <%= link_to 'Add an object', items_path(space_id: @space.id, parent_id: @space.id), method: :post, class: "add-btn" %> <!-- space_id for the controller, parent_id for pundit-->
      <% end %>

<!--       <% if user_signed_in? %>
        <%= link_to "t", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_user_session_path %>
      <% end %> -->
      <br>
    </div>

  <i class="fas fa-plus fa-lg" id="plus"></i>
  </div>
</div>
<!-- END OF NAVBAR -->







<!-- IF SPACE IS EMPTY -->
<% if @space.children.empty? && @space.items.empty? %>
  <div class="center"><p class="msg">This space is empty.</p></div>
<% end %>























<!--
<% if @space.connections.empty? %>

  <%= link_to 'Back to shelf', shelf_path(@space.shelves.first) %> Fonctionne uniquement si un space a une unique shelve. Sinon, il faudrait prendre en compte user_i?  Not DRY! Refacto

  <% if policy(@space).destroy? %>
    <%= link_to 'Delete space', space_path(@space, shelf_id: @space.shelves.first.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

<% elsif @space.connections.first.root? %>

  <%= link_to 'Back to shelf', shelf_path(@space.shelves.first) %> Fonctionne uniquement si un space a une unique shelve. Sinon, il faudrait prendre en compte user_i? Not DRY! Refacto

  <% if policy(@space).destroy? %>
    <%= link_to 'Delete space', space_path(@space, shelf_id: @space.shelves.first.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

<% else %>

  <%= link_to 'Back to space', space_path(@space.connections.first.parent.space) %>  Valide ssi un space a une ocurrence dans la table

  <% if policy(@space).destroy? %>
    <%= link_to 'Delete space', space_path(@space, parent_id: @space.connections.first.parent.space.id), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>

<% end %>

<% if policy(@space).edit? %>
  <%= link_to 'Edit space', edit_space_path(@space) %>
<% end %>
-->

<!-- <h2><%= @space.name %></h2> -->


<div class="grid-container">

  <% if @space.children.empty? == false %>
    <% @space.connections.first.space.children.each do |connection| %>
      <div class="object">
        <%= link_to image_tag("space.png", width: 95), space_path(connection.space) %>
        <%= link_to truncate(connection.space.name, length: 45), space_path(connection.space),  class: "object_name" %>
      </div>
    <% end %>
  <% end %>

  <% @space.items.order(created_at: :desc).each do |item| %>
      <% if policy(item).show? %>
        <div class="object">
          <% if item.medium == "book" %>
            <%= link_to image_tag("book.png", width: 80), item_path(item, space_id: @space.id) %>
          <% elsif item.medium == "podcast" %>
            <%= link_to image_tag("podcast.png", width: 80), item_path(item, space_id: @space.id) %>
          <% elsif item.medium == "video" %>
            <%= link_to image_tag("video.png", width: 80), item_path(item, space_id: @space.id) %>
          <% elsif item.medium == "web" %>
            <%= link_to image_tag("web.png", width: 80), item_path(item, space_id: @space.id) %>
          <% end %>
          <%= link_to truncate(item.name, length: 45), item_path(item, space_id: @space.id), class: "object_name" %>
        </div>
      <% end %>
  <% end %>
</div>



