<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large; color: black;">
      <p>id: <%= @item.id %></p>
      <p>name: <%= @item.name %></p>
      <p>medium: <%= @item.medium %></p>
      <p>url: <%= @item.url %></p>
      <p>notes: <%= @item.notes %></p>
    </div>
  </body>
</html>

