<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="font-family: Charter Helvetica; font-size: large; color: black;">
      <p>id: <%= @user.id %></p>
      <p>username: <%= @user.username %></p>
      <p>email: <%= @user.email %></p>
      <p>phone_number: <%= @user.phone_number %></p>
      <p>telegram_hash: <%= @user.telegram_hash %></p>
    </div>
  </body>
</html>
