<div class="navbar" id="navshow">
    <%= link_to('shelf', root_path, class: 'logo') %>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSemiCUohcstS3K8tGcxmV34200dCrA2GnWBWf29gYibXE5PuA/viewform?usp=sf_link
" class="login">Join</a>
</div>

<div class="sign-in-ctn">

  <h2 class="tagline">Welcome back!</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-inputs">
      <%= f.input :email,
                  required: false,
                  autofocus: true,
                  input_html: { autocomplete: "email", style: 'width: 300px', placeholder: 'Email' },
                  label: false
                  %>
      <%= f.input :password,
                  required: false,
                  input_html: { autocomplete: "current-password", style: 'width: 300px',  placeholder: 'Password'  },
                  label: false
                  %>
  <!--     <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: 'lp-cta' %>
    </div>
  <% end %>

<!--  <%= render "devise/shared/links" %> -->

</div>
