<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navshow">

  <%= link_to "shelf", root_path, class: "logo" %>

    <h1 class="item-title">
      <a href="<%= @item.url %>">
        <% if @item.medium == "book" %>
          📕
        <% elsif @item.medium == "podcast" %>
          🎙
        <% elsif @item.medium == "video" %>
          📺
        <% elsif @item.medium == "web" %>
          💻
        <% elsif @item.medium == "other" %>
          🔍
        <% end %>
        <%= @item.name %>
      </a>
    </h1>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if @shelf %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45" id="plus"></i>'.html_safe, shelf_path(@shelf) %>
    <% elsif @space %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45" id="plus"></i>'.html_safe, space_path(@space) %>
    <% end %>
  </div>
</div>
<!-- END OF NAVBAR -->








<!-- <h3><%= @item.medium %></h3>
<h3><%= @item.name %></h3>
<h3><%= @item.status %></h3>
<h3><%= @item.rank %></h3>
<h3><%= @item.notes %></h3> -->


