<% if @shelf_mother.id == 20 %>
<!-- NAVBAR AND OPTIONS BOX IF USER ON SANDBOX SHELF -->
  <!-- Navbar: Back, item emoji, options -->
  <div class="navbar" id="navshow">
    <div>
      <% if @parent_space %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, space_path(@parent_space) %>
      <% else %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, shelf_path(@shelf_mother.username) %>
      <% end %>
    </div>
    <div>
      <a id="item-medium-icon">
        <% if @item.medium == "book" %>
          <%= image_tag "book.png", width: 37 %>
        <% elsif @item.medium == "podcast" %>
          <%= image_tag "podcast.png", width: 37 %>
        <% elsif @item.medium == "video" %>
          <%= image_tag "video.png", width: 37 %>
        <% elsif @item.medium == "blogpost" %>
          <%= image_tag "blogpost.png", width: 37 %>
        <% elsif @item.medium == "newsletter" %>
          <%= image_tag "newsletter.png", width: 37 %>
        <% elsif @item.medium == "news_article" %>
          <%= image_tag "news_article.png", width: 37 %>
        <% elsif @item.medium == "academic_article" %>
          <%= image_tag "academic_article.png", width: 37 %>
        <% elsif @item.medium == "tweet" %>
          <%= image_tag "tweet.png", width: 37 %>
        <% elsif @item.medium == "audio_book" %>
          <%= image_tag "audio_book.png", width: 37 %>
        <% elsif @item.medium == "blog" %>
          <%= image_tag "blog.png", width: 37 %>
        <% elsif @item.medium == "e_book" %>
          <%= image_tag "e_book.png", width: 37 %>
        <% elsif @item.medium == "online_course" %>
          <%= image_tag "online_course.png", width: 37 %>
        <% elsif @item.medium == "code_repository" %>
          <%= image_tag "code_repository.png", width: 37 %>
        <% else %>
          <%= image_tag "web.png", width: 37 %>
        <% end %>
      </a>
    </div>
    <div id="options-btn">
      <a><%= image_tag "options.png", alt: "Options", width: 37, class: 'item-options' %></a>
    </div>
  </div>

  <!-- Edit medium box -->
  <div class="media-ctn" style="display:none;" id="media-ctn">
    <%= simple_form_for(@item) do |f| %>
      <%= f.input :medium,
        legend_tag: false,
        as: :radio_buttons,
        collection: [['blog', '📑 Blog'], ['blogpost', '📄 Blogpost'], ['news_article', '📰 News article'], ['newsletter', '🗞 Newsletter'], ['academic_article', '📃 Academic article'], ['tweet', '🐦 Tweet'], ['podcast', '🎙 Podcast'], ['video', '📺 Video'], ['online_course', '🎓 Online course'], ['book', '📕 Book'], ['e_book', '📙 Ebook'], ['audio_book', '🎧 Audio book'], ['code_repository', '🐱 Code repository']],
        label_method: :second,
        value_method: :first,
        item_wrapper_class: 'option-label',
        input_html: {class: 'category-selector', onchange: 'this.form.submit();'}
      %>
    <% end %>
  </div>

  <!-- Options box: Move, destroy -->
  <div class="options-ctn item-options" id="options" style="display:none;">
<!--     <div class="option-ctn">
      <a>👉</a>
      <a class="option-label" id="move-to">Move</a>
    </div>
    <div class="option-ctn">
      <a>🗑</a>
      <% if @shelf %>
        <%= link_to "Delete", item_path(@item, shelf_id: @shelf.id), method: :delete, class: "option-label" %>
      <% elsif @space %>
        <%= link_to "Delete", item_path(@item, space_id: @space.id), method: :delete, class: "option-label" %>
      <% end %>
    </div> -->
    <div class="option-ctn">
      <a>🏡</a>
      <a href="https://www.shelf.so/users/sign_up" class="option-label" id="new-object-or-space">Sign up</a>
    </div>
    <div class="option-ctn">
      <a>🚪</a>
      <%= link_to 'Leave', root_path, class: "option-label", id: "leave-shelf" %>
    </div>
  </div>
  <!-- Item title -->
  <div class="main-container">
    <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
      <h1 class="item-title">
        <%= @item.name %>
      </h1>
    </a>
    <div style="height: 35px"></div>
    <!-- Text content -->
    <p id="text-content"><%= @item.text_content %></p>
    <!-- Add audio player! -->
  </div>

<% elsif user_signed_in? && (@current_user == @shelf_mother.user) %>
<!-- NAVBAR AND OPTIONS BOX IF USER SIGNED IN AND ON THEIR OWN ITEM -->
  <!-- Navbar: Back, item emoji, options -->
  <div class="navbar" id="navshow">
    <div>
      <% if @parent_space %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, space_path(@parent_space), id: 'back-item-show' %>
      <% else %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, shelf_path(@shelf_mother.username), id: 'back-item-show' %>
      <% end %>
    </div>
    <div>
      <a id="item-medium-icon">
        <% if @item.medium == "book" %>
          <%= image_tag "book.png", width: 37 %>
        <% elsif @item.medium == "podcast" %>
          <%= image_tag "podcast.png", width: 37 %>
        <% elsif @item.medium == "video" %>
          <%= image_tag "video.png", width: 37 %>
        <% elsif @item.medium == "blogpost" %>
          <%= image_tag "blogpost.png", width: 37 %>
        <% elsif @item.medium == "newsletter" %>
          <%= image_tag "newsletter.png", width: 37 %>
        <% elsif @item.medium == "news_article" %>
          <%= image_tag "news_article.png", width: 37 %>
        <% elsif @item.medium == "academic_article" %>
          <%= image_tag "academic_article.png", width: 37 %>
        <% elsif @item.medium == "tweet" %>
          <%= image_tag "tweet.png", width: 37 %>
        <% elsif @item.medium == "audio_book" %>
          <%= image_tag "audio_book.png", width: 37 %>
        <% elsif @item.medium == "blog" %>
          <%= image_tag "blog.png", width: 37 %>
        <% elsif @item.medium == "e_book" %>
          <%= image_tag "e_book.png", width: 37 %>
        <% elsif @item.medium == "online_course" %>
          <%= image_tag "online_course.png", width: 37 %>
        <% elsif @item.medium == "code_repository" %>
          <%= image_tag "code_repository.png", width: 37 %>
        <% else %>
          <%= image_tag "web.png", width: 37 %>
        <% end %>
      </a>
    </div>
    <div id="options-btn">
      <a><%= image_tag "options.png", alt: "Options", width: 37, class: 'item-options' %></a>
    </div>
  </div>

  <!-- Edit medium box -->
  <div class="media-ctn" style="display:none;" id="media-ctn">
    <%= simple_form_for(@item) do |f| %>
      <%= f.input :medium,
        legend_tag: false,
        as: :radio_buttons,
        collection: [['blog', '📑 Blog'], ['blogpost', '📄 Blogpost'], ['news_article', '📰 News article'], ['newsletter', '🗞 Newsletter'], ['academic_article', '📃 Academic article'], ['tweet', '🐦 Tweet'], ['podcast', '🎙 Podcast'], ['video', '📺 Video'], ['online_course', '🎓 Online course'], ['book', '📕 Book'], ['e_book', '📙 Ebook'], ['audio_book', '🎧 Audio book'], ['code_repository', '🐱 Code repository']],
        label_method: :second,
        value_method: :first,
        item_wrapper_class: 'option-label',
        input_html: {class: 'category-selector', onchange: 'this.form.submit();'}
      %>
    <% end %>
  </div>

  <!-- Options box: Move, destroy, leave -->
  <div class="options-ctn item-options" id="options" style="display:none;">
    <% if current_user.username == "lfialho" %>
      <% if @item.text_content.nil? == false %>
        <% if @item.mp3_url.nil? == true %>
          <div class="option-ctn" id="listen-option">
            <a>👂</a>
            <a class="option-label" id="listen">Listen</a>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="option-ctn">
      <a>👉</a>
      <a class="option-label" id="move-to">Move</a>
    </div>
    <div class="option-ctn">
      <a>🗑</a>
      <% if @shelf %>
        <%= link_to "Delete", item_path(@item, shelf_id: @shelf.id), method: :delete, class: "option-label" %>
      <% elsif @space %>
        <%= link_to "Delete", item_path(@item, space_id: @space.id), method: :delete, class: "option-label" %>
      <% end %>
    </div>
    <div class="option-ctn">
      <a>🚪</a>
      <%= link_to 'Leave', destroy_user_session_path, method: :delete, class: "option-label", id: "leave-shelf" %>   <!-- si un utilisateur n'est pas logged in <%= link_to "Log in", new_user_session_path %> -->
    </div>
  </div>
  <!-- Item title -->
  <div class="main-container">
    <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
      <h1 class="item-title" id="item-title" data-id="<%= @item.id %>">
        <%= @item.name %>
      </h1>
    </a>
    <div style="height: 35px"></div>

    <!-- Text content -->
    <p id="text-content"><%= @item.text_content %></p>

    <!-- Audio player -->
    <% if current_user.username == "lfialho" %>
      <% if @item.mp3_url.nil? == false %>
        <audio id="audioPlayback" controls preload="auto">
          <source id="audioSource" type="audio/mp3" src="<%= @item.mp3_url %>">
        </audio>
      <% else %>
        <audio id="audioPlayback" controls style="display:none;">
          <source id="audioSource" type="audio/mp3" src="">
        </audio>
      <% end %>
    <% end %>
  </div>


<% elsif user_signed_in? && (@current_user != @shelf_mother.user) %>
<!-- NAVBAR AND OPTIONS BOX IF USER SIGNED IN AND NOT ON THEIR OWN ITEM -->
  <!-- Navbar: Back, item emoji, options -->
  <div class="navbar" id="navshow">
    <div>
      <% if @parent_space %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, space_path(@parent_space) %>
      <% else %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, shelf_path(@shelf_mother.username) %>
      <% end %>
    </div>
    <div>
      <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
        <% if @item.medium == "book" %>
          <%= image_tag "book.png", width: 37 %>
        <% elsif @item.medium == "podcast" %>
          <%= image_tag "podcast.png", width: 37 %>
        <% elsif @item.medium == "video" %>
          <%= image_tag "video.png", width: 37 %>
        <% elsif @item.medium == "blogpost" %>
          <%= image_tag "blogpost.png", width: 37 %>
        <% elsif @item.medium == "newsletter" %>
          <%= image_tag "newsletter.png", width: 37 %>
        <% elsif @item.medium == "news_article" %>
          <%= image_tag "news_article.png", width: 37 %>
        <% elsif @item.medium == "academic_article" %>
          <%= image_tag "academic_article.png", width: 37 %>
        <% elsif @item.medium == "tweet" %>
          <%= image_tag "tweet.png", width: 37 %>
        <% elsif @item.medium == "audio_book" %>
          <%= image_tag "audio_book.png", width: 37 %>
        <% elsif @item.medium == "blog" %>
          <%= image_tag "blog.png", width: 37 %>
        <% elsif @item.medium == "e_book" %>
          <%= image_tag "e_book.png", width: 37 %>
        <% elsif @item.medium == "online_course" %>
          <%= image_tag "online_course.png", width: 37 %>
        <% elsif @item.medium == "code_repository" %>
          <%= image_tag "code_repository.png", width: 37 %>
        <% else %>
          <%= image_tag "web.png", width: 37 %>
        <% end %>
      </a>
    </div>
    <div id="options-btn">
      <a><%= image_tag "options.png", alt: "Options", width: 37, class: 'item-options' %></a>
    </div>
  </div>
  <!-- Options box: Back to my shelf -->
  <div class="options-ctn item-options" id="options" style="display:none;">
    <div class="option-ctn">
      <a>🏠</a>
      <%= link_to 'Back to my shelf', shelf_path(@current_user.shelves.first.username), class: "option-label" %>
    </div>
  </div>
  <!-- Item title -->
  <div class="main-container">
    <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
      <h1 class="item-title">
        <%= @item.name %>
      </h1>
    </a>
    <!-- Text content -->
    <div style="height: 35px"></div>
    <p id="text-content"><%= @item.text_content %></p>
    <!-- Ajouter audio player -->
  </div>

<% elsif user_signed_in? == false %>
<!-- NAVBAR AND OPTIONS BOX IF USER NOT SIGNED IN -->
  <!-- Navbar: Back, item emoji, login or sign up -->
  <div class="navbar" id="navshow">
    <div>
      <% if @parent_space %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, space_path(@parent_space) %>
      <% else %>
        <%= link_to image_tag("left_arrow.png", width: 37).html_safe, shelf_path(@shelf_mother.username) %>
      <% end %>
    </div>
    <div>
      <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
        <% if @item.medium == "book" %>
          <%= image_tag "book.png", width: 37 %>
        <% elsif @item.medium == "podcast" %>
          <%= image_tag "podcast.png", width: 37 %>
        <% elsif @item.medium == "video" %>
          <%= image_tag "video.png", width: 37 %>
        <% elsif @item.medium == "blogpost" %>
          <%= image_tag "blogpost.png", width: 37 %>
        <% elsif @item.medium == "newsletter" %>
          <%= image_tag "newsletter.png", width: 37 %>
        <% elsif @item.medium == "news_article" %>
          <%= image_tag "news_article.png", width: 37 %>
        <% elsif @item.medium == "academic_article" %>
          <%= image_tag "academic_article.png", width: 37 %>
        <% elsif @item.medium == "tweet" %>
          <%= image_tag "tweet.png", width: 37 %>
        <% elsif @item.medium == "audio_book" %>
          <%= image_tag "audio_book.png", width: 37 %>
        <% elsif @item.medium == "blog" %>
          <%= image_tag "blog.png", width: 37 %>
        <% elsif @item.medium == "e_book" %>
          <%= image_tag "e_book.png", width: 37 %>
        <% elsif @item.medium == "online_course" %>
          <%= image_tag "online_course.png", width: 37 %>
        <% elsif @item.medium == "code_repository" %>
          <%= image_tag "code_repository.png", width: 37 %>
        <% else %>
          <%= image_tag "web.png", width: 37 %>
        <% end %>
      </a>
    </div>
      <div class="lp-login-signup-ctn">
        <%= link_to('Log in', new_user_session_path, class: 'login expand', id: 'login-lp', style: 'display:;') %>
        <%= link_to('Sign up', new_user_registration_path, class: 'lp-cta', id: 'signup-lp-btn', style: 'display:;') %>
        <%= link_to('Sign up', new_user_registration_path, class: 'login expand', id: 'signup-lp-simple', style: 'display:none') %>
      </div>
  </div>
  <!-- Options box: Not needed -->
  <!-- Item title -->
  <div class="main-container">
    <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
      <h1 class="item-title">
        <%= @item.name %>
      </h1>
    </a>
    <!-- Text content -->
    <div style="height: 35px"></div>
    <p id="text-content"><%= @item.text_content %></p>
    <!-- Ajouter audio player -->
  </div>
<% end %>


<!-- ADD SPACE NAME BOX -->
    <div class="options-ctn options-ctn-shelf-space" id="add-space" style="display:none;">
      <p class="option prompt" id="add-space-prompt" > What is the name of this new space? 🗄 </p>
      <%= simple_form_for @child, html: { autocomplete: 'off' } do |f| %>
        <%= f.text_field :name, class: 'txt-inpt txt-inpt-box' %> <!-- autofocus: true, onblur: 'this.focus()' --> <!-- onpaste: 'setTimeout(function(){ form.submit(); }, 0.1); -->
        <%= f.hidden_field :shelf_id, :value => @shelf_mother.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.submit "Add space", style: "display: none;" %>
      <% end %>
    </div>
<!-- END OF ADD SPACE NAME BOX -->

<!-- MOVE TO LIST -->
  <div class="options-ctn" id="move-to-list" style="display:none;" data-type="item" data-item-id="<%= @item.id %>" data-shelf-id="<%= @shelf_mother.id %>">
    <div id="top-line">
      <%= image_tag("left_arrow.png", width: 23, height: 25, style: 'display:none;', id: 'left-arrow-img').html_safe %>
      <p class="option" id="top-element">Shelf</p>
    </div>
    <hr/>
    <ul id="children-spaces">
    <% move_item_to_space_list.each do |space| %>
      <li>
        <a class="option" id="child-space-<%= space.id %>" data-space-id="<%= space.id %>">🗄 <%= truncate(space.name, length: 25) %></a>
      </li>
    <% end %>
    </ul>
      <div id="button-new-space-parent">
        <%= image_tag("grey_plus.png", width: 18, height: 18, id: 'grey-plus-img').html_safe %>
        <div id="new-space-txt">New</div>
      </div>
    <%= button_to "👉 Move to shelf", { controller: "items", action: "move_to_shelf", item_id: @item.id }, id: 'move-to-button' %>
  </div>
<!-- END OF MOVE TO LIST -->














