<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light" id="navshow">

  <%= link_to "shelf", root_path, class: "logo" %>

    <h1 class="item-title">
      <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
        <% if @item.medium == "book" %>
          📕
        <% elsif @item.medium == "podcast" %>
          🎙
        <% elsif @item.medium == "video" %>
          📺
        <% elsif @item.medium == "web" %>
          💻
        <% elsif @item.medium == "other" %>
          🔍
        <% end %>
        <%= @item.name %>
      </a>
    </h1>

    <% if @shelf %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45"></i>'.html_safe, shelf_path(@shelf), class: "close-item-show" %>
    <% elsif @space %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45"></i>'.html_safe, space_path(@space), class: "close-item-show" %>
    <% end %>
</div>
<!-- END OF NAVBAR -->

<% if @shelf %>
  <%= simple_form_for (@item) do |f| %>
    <%= f.input :status, label: false, collection: ["not sarted", "in progress", "finished"], as: :radio_buttons, input_html: { onchange: "this.form.submit()", class: "tag-selector" } %>
    <%= f.input :rank, label: false, collection: ['low', 'medium', 'high'], as: :radio_buttons, input_html: { onchange: "this.form.submit()", class: "tag-selector" }%>
    <%= f.hidden_field :shelf_id, :value => @shelf.id %>
    <%= f.submit "Update" %>
  <% end %>
<% end %>



<%= @item.status %>
<%= @item.rank %>







