<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light" id="navshow">

  <%= link_to "shelf", root_path, class: "logo" %>

    <h1 class="item-title">
      <a target="_blank" rel="noopener noreferrer" href="<%= @item.url %>">
        <% if @item.medium == "book" %>
          📕
        <% elsif @item.medium == "podcast" %>
          🎙
        <% elsif @item.medium == "video" %>
          📺
        <% elsif @item.medium == "web" %>
          💻
        <% elsif @item.medium == "other" %>
          🔍
        <% end %>
        <%= @item.name %>
      </a>
    </h1>

    <% if @shelf %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45"></i>'.html_safe, shelf_path(@shelf), class: "close-item-show" %>
    <% elsif @space %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45"></i>'.html_safe, space_path(@space), class: "close-item-show" %>
    <% end %>
</div>
<!-- END OF NAVBAR -->

<div class='update-btns'>
<button class='update-btn' id='update-status'><%= @item.status.capitalize %></button>
<button class='update-btn' id='update-rank'><%= @item.rank.capitalize %></button>
</div>

<% if @shelf %>
  <%= simple_form_for (@item) do |f| %>
    <div class='buttons-ctn' id='opts-status' style="display:none;"> <%= f.input :status, label: false, collection: [['🙅 Not started', 'not started'], ['🧑‍💻 In progress', 'in progress'], ['💆 Finished', 'finished']], as: :radio_buttons, input_html: { onchange: "this.form.submit()", class: "tag-selector" } %> </div>
    <div class='buttons-ctn' id='opts-rank' style="display:none;"><%= f.input :rank, label: false, collection: [['😴 Low rank', 'low'], ['🤔 Medium rank', 'medium'], ['😱 High rank', 'high']], as: :radio_buttons, input_html: { onchange: "this.form.submit()", class: "tag-selector" }%> </div>
    <%= f.hidden_field :shelf_id, :value => @shelf.id %>
  <% end %>
<% end %>









