<!-- BEGINNING OF NAVBAR -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "shelf", root_path, class: "logo" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <% if @shelf %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45" id="plus"></i>'.html_safe, shelf_path(@shelf) %>
    <% elsif @space %>
      <%= link_to '<i class="fas fa-plus fa-lg fa-rotate-45" id="plus"></i>'.html_safe, space_path(@space) %>
    <% end %>
  </div>
</div>
<!-- END OF NAVBAR -->

<% if Item.find(params[:item_id]).medium == "book" %>
  <h1 class="question">What is the name of this new 📕 ? </h1>
<% elsif Item.find(params[:item_id]).medium == "podcast" %>
  <h1 class="question">What is the name of this new 🎙 ? </h1>
<% elsif Item.find(params[:item_id]).medium == "video" %>
  <h1 class="question">What is the name of this new 📺 ? </h1>
<% elsif Item.find(params[:item_id]).medium == "web" %>
  <h1 class="question">What is the name of this new 💻 ? </h1>
<% else %>
  <h1 class="question">What is the name of this new object ? </h1>
<% end %>

<% if @shelf %>
  <%= simple_form_for @item, method: :put, url: wizard_path, html: { autocomplete: 'off' } do |f| %>
        <%= f.input :name, autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp-txt" } %>
        <%= f.hidden_field :shelf_id, :value => @shelf.id %>
        <div class='buttonHolder'> <%= f.submit "Next", class: "add-btn" %> </div>
  <% end %>

<% elsif @space %>

  <%= simple_form_for @item, method: :put, url: wizard_path, html: { autocomplete: 'off' } do |f| %>
        <%= f.input :name, autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp-txt" } %>
        <%= f.hidden_field :space_id, :value => @space.id %>
        <%= f.hidden_field :parent_id, :value => @space.id %> <!-- apparently for Pundit -->
        <div class='buttonHolder'> <%= f.submit "Next", class: "add-btn" %> </div>
  <% end %>

<% end %>
