<% if params[:medium] == "book" %>
  <h1 class="question">Do you want to add notes to this 📕 ? </h1>
<% else %>
  <h1 class="question">Do you want to add notes to this object ? </h1>
<% end %>

<% if @shelf %>
  <%= simple_form_for @item, method: :put, url: wizard_path, html: { autocomplete: 'off' } do |f| %>
        <%= f.input :notes, autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp" } %>
        <%= f.hidden_field :shelf_id, :value => @shelf.id %>
        <div class='buttonHolder'> <%= f.submit "Add to shelf", class: "add-btn" %> </div>
  <% end %>

<% elsif @space %>

  <%= simple_form_for @item, method: :put, url: wizard_path, html: { autocomplete: 'off' } do |f| %>
        <%= f.input :notes, autofocus: true, label: false, html: {autocomplete: 'disabled'}, input_html: { class: "inp" } %>
        <%= f.hidden_field :space_id, :value => @space.id %>
        <%= f.hidden_field :parent_id, :value => @space.id %> <!-- apparently for Pundit -->
        <div class='buttonHolder'> <%= f.submit "Add to shelf", class: "add-btn" %> </div>
  <% end %>

<% end %>
